.header {
    width: 78.5%;
    height: 60vh;
    margin: auto;
    /* background-color: blanchedalmond; */
    background-blend-mode: multiply;
    position: relative;
    color:#000;
}

.headerImage {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerOverlay {
    width: 100%;
    height: 10vh;
    background: rgb(226, 226, 226);
    background: -moz-linear-gradient(0deg, rgba(226, 226, 226, 1) 50%, rgba(0, 212, 255, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(226, 226, 226, 1) 50%, rgba(0, 212, 255, 0) 100%);
    background: linear-gradient(0deg, rgba(226, 226, 226, 1) 50%, rgba(0, 212, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2e2e2", endColorstr="#00d4ff", GradientType=1);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.container {
    width: 96%;
    /* height: 100vh; */
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 12%);
    /* background-color: rgb(226, 192, 43); */
}


/* Offer page */


.offerContainer {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #cacaca; */
}

.card {
    width: calc(100% / 4.2);
    height: 450px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    border: 1px solid red;
    position: relative;
}
.card a{
    position: absolute;
    margin-left: 15px;
    left: 0;
    bottom: 5%;
    transform: translate(0, 5%);
    /* background-color: bisque; */
    color: rgb(0, 121, 164);
    font-size: 13px;
}
.minCard{
    /* width: 90%; */
    width: 100%;
    height: 75%;
    margin: 15px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: bisque; */
}

.minCard .cardItem{

    width: 98%;
    height: 96%;
    background-color: #fff;
    /* border: 1px solid red; */
    margin: 0 auto 0 auto;
}
.minCard .cardItem p{
    font-size: 12px;
}

.cardItemImage{
    width: 100%;
    height: 80%;
    background-size: cover;
}
.minCard .cardItem:nth-child(odd){
    margin-right: 2.5px;
}
.minCard .cardItem:nth-child(even) {
    margin-left: 2.5px;
}
/* .minCard .cardItem:nth-child(2){
    margin-left: 2.5px;
} */


.flexOffer {
    /* width: 100%;
    height: 280px;
    background-color: #cacaca;
    padding:0  15px 15px 15px; */
    width: 100%;
    /* height: 280px; */
    height: 350px;
    /* background-color: #cacaca; */
    background-color: #fff;
    padding: 0 15px 15px 15px;
    overflow: hidden; /* To hide overflow images */
    position: relative;
}

.flexOfferBox{
    width: 100%;
    height: calc(100% - 15px);
    display: flex;
    align-items: center;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
}
.flexImage{
    flex: 0 0 calc(100% / 6); /* Set width for 6 images per slide */
    height: 100%;
    background-color: #f3f3f3;
    /* border: 1px solid red; */
    box-sizing: border-box; /* Include borders in width calculations */
}
.flexImage img{
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

  
  .flexImage:not(:last-child) {
    margin-right: 10px; /* Adjust spacing between images */
  }
.prevDiv{
    width: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(-15px, -50%);
    z-index: 10;
}

.nextDiv{
    width: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(15px, -50%);
    z-index: 10;
}

