.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #161414;
    color: #fff;
    /* background-color: brown; */
    position: relative;
}

.leftSection {
    margin-left: 15px;
}

.leftSection .humbergur {
    display: none;
}

.locIcon {
    font-size: 20px;
    margin: 0 .8rem;
    color: #fff;
}

.searchSection {
    width: 45%;
    background-color: burlywood;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    border-radius: 5px;
}

.searchSection input {
    width: 100%;
    padding: .8rem .5rem;
    color: #000;
    font-size: 18px;
    background-color: #fff;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.searchIcon {
    font-size: 20px;
    margin: 0 .8rem;
    color: #000;
}

.rightNavbar {
    /* width: 20%; */
    margin-right: 30px;
    /* background-color: blueviolet; */
}

.rightNavbar .account {
    margin: 0 10px 0 5px;
}

.rightNavbar .returnDiv {
    margin: 0 5px 0 10px;
}

.rightNavbar .cartItem {
    display: flex;
    align-items: center;
    /* background-color: bisque; */
    position: relative;
}

.rightNavbar .cartIcon {
    font-size: 25px;
    /* position: relative; */
}

.rightNavbar .cartNum {
    width: 20px;
    height: 20px;
    text-align: center;
    color: #000;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 100;
    right: 0;
    transform: translate(-0%, -100%);
}


.searchSuggestion {
    width: 800px;
    height: 400px;
    background-color: bisque;
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    color: #000;

}



@media screen and (max-width:600px) {
    .navbar {
        height: auto;
        padding: 5px;
    }

    .leftSection {
        margin-left: 5px;
    }

    .leftSection .humbergur {
        display: block;
    }

    .logo {
        font-size: 12px;
        margin-left: 10px;
    }

    /* .locIcon{
    width: 10px;
    margin: 0 5px;
    } */

.none{
    display: none;
}

    .location p {
        font-size: 8px;
        color: blanchedalmond;
    }

    .searchSection {
        width: 30%;
        background-color: burlywood;
        /* border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; */
        /* padding: 2px; */
        border-radius: 0;
    }

    .searchSection input {
        width: 100%;
        padding: 1px 3px;
        color: #000;
        font-size: 8px;
        background-color: #fff;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .searchIcon {
        font-size: 12px;
        margin: 0 2px;
        color: #000;
    }

    .flag {
        width: 12px;
        height: auto;
    }

    .account .navText {
        font-size: 8px;
        /* display: none; */
    }

    .returnDiv {
        display: none;
    }

    .rightNavbar {
        margin-right: 5px;
    }

    .cartIcon {
        width: 12px;
    }

    .rightNavbar .cartNum {
        width: 10px;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* text-align: center; */
        /* color: #000; */
        color: #ff0000;
        background-color: transparent;
        border-radius: 50%;
        position: absolute;
        top: 100;
        right: 0;
        transform: translate(-0%, -100%);
        font-size: 8px;
    }
}



@media screen and (max-width:300px) {

    .logo {
        font-size: 8px;
    }


}